extends layout

block content
  h1= config.description
  h2= config.name
  a(href=config.parent) Back
  table.table.table-striped
      thead
          th Name
          th Description
          th 
      tbody.sortable
          each item in sensors
              tr
                td= item.name
                td= item.config.description
                td
                  a(href=item.path) View
